<!DOCTYPE html>
<html>
<head>
  <title>PracticeBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body><div class="container">
<%= user_signed_in? ? link_to("sign out", destroy_user_session_path, :method => :delete) :
 link_to("sign in", new_user_session_url) %>
<%= yield %>
</div>
</body>
</html>
